<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <div class="container" id="header" style="background-color: inherit; width: 500px;">
  <h1 style="color: white;">
    Welcome to {{ title }}!
  </h1>
  </div>
  <img width="180" alt="Angular Logo" src="\assets\Images\logo_copy.png">
  <div id="buttons">
    <div class=container>
    <button (click)="onTapMenuButton()">Menu</button>
    </div>
    <div class="container">
    <button (click)="onTapCreditsButton()">Credits</button>
    </div>
  </div>
</div>


